* {
font-family: Verdana, sans;
}
h1, h2 {
padding: 10px;
bbackground-color: white;
color: coral;
}
h1 {
background-color: darkcyan;
color: white;
text-align: center;
padding: 5px;
}
h2 {
text-align: center;
border: 2px solid coral;
}
label {
ppadding: 5px 12px;
text-align: center;
}
a {
color: darkcyan;
}
.container {
width: 70%;
hheight: 700px;
margin: 0 auto;
padding-bottom: 50px;
bbackground-image: url("taustakuva.svg");
}
.tehtavananto {
background-color: #eee;
padding: 15px;
}
.tehtava {
text-align: center;
padding-left: 12px;
margin: 30px 0;
}
span {
color: red;
}
.tehtava li {
padding: 10px;
}

/* TEHTAVA 4 */

#t4 {
border: 1px solid coral;
}